@import url('https://fonts.googleapis.com/css?family=Belleza&display=swap');
HTML{
    font-size: 100%;
 
}
.cabecera{
    background: black;
    height: 70px;
    width: 100%;
    padding: 0px;
    font-size: 0px;
   
   
}

.encabezado{
    display: flex;

}
 .izquierda {
    width: 60%;
    margin-right: 30px;
    font-family: 'Belleza', sans-serif;
}
 .derecha {
    width: 30%;
    font-family: 'Belleza', sans-serif;
    font-size: 1.5rem;
}
h3{
    font-size: 2rem;
}
.cabecera{
    display: flex;
    width: 100%;
    justify-content: space-between;


}

.cabecera h2{
    width: 20%;
    color:white;
    text-align: left;
    font-size: 2.2rem;
    margin: 0px;
    line-height: normal;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 20px;
 
}
.cabecera nav{
    
    font-size: 0px;
    text-decoration: none;
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    
}


.menu li{
    display: inline-block;
    width: 25%;
    background: black;
    text-align: center;
    box-sizing: border-box;

    font-family: 'Belleza', sans-serif;
    margin-top: 15px;
    
   
   

}
.menu a{


    font-size: 1.7rem;
    text-decoration: none;
    color: white;
    transition: all 0,07s;
    text-align: center;
    height: 70px;
 
    box-sizing: border-box;

}
.menu li:hover{

    transform: scale(1.1);
}
.imagenes{

    margin: auto;
   overflow: hidden;
   width: 95%;
}

.carrucel{
    display:flex;
    width: 300%;
    padding: 0;


    animation: cambio 20s infinite;
}
.carrucel li{
  width: 100%;
    list-style: none;

}
.carrucel img{
    display: block;
    margin: auto;
   

}

main{
    margin: 100px;
    margin-top: 10px;
    background: white;
}
@keyframes cambio {
    0% {margin-left: 0;}
    30% {margin-left: 0;}
    35%{margin-left: -100%;}
    65%{margin-left: -100%;}
    70%{margin-left: -200%}
    95%{margin-left: -200%}

}