
HTML{
    font-size: 100%;
 
}
.cabecera{
    background: black;
    height: 70px;
    width: 100%;
    padding: 0px;
    font-size: 0px;
  
   }
   .titulo{
       text-decoration: none;
       color: white;
   }
.cabecera h2{
    width: 20%;

    text-align: left;
    font-size: 2.2rem;
    margin: 0px;
    margin-right: 35%;
    margin-left: 5%;
    display: inline-block;
    line-height: normal;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    line-height: 1.5;
    display: inline-block;
    position: relative;
    top: 8px;
 }
 
.cabecera nav{
    
    font-size: 0px;
    text-decoration: none;
    display: inline-block;
    width: 40%;
    height: 100%;
    box-sizing: border-box;


    
}
.menu{
    height: 100%;
}

.menu li{
    display: inline-block;
    width: 25%;
    background: black;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    border: 0.5px solid white;
   
   

}
.menu a{
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    transition: all 0,07s;
    text-align: center;
    height: 70px;
    margin-top: 20px;
    width: 100%;


}
.menu li:hover{
   
    transform: scale(1.1);
}
.imagenes{

    margin: auto;
    margin-top: 20px;
   overflow: hidden;
   width: 95%;
}

.carrucel{
    display:flex;
    width: 300%;
    padding: 0;


    animation: cambio 20s infinite;
}
.carrucel li{
  width: 100%;
    list-style: none;

}
.carrucel img{
    display: block;
    margin: auto;
   

}

main{
    margin: 100px;
    margin-top: 10px;
    background: white;
}
@keyframes cambio {
    0% {margin-left: 0;}
    30% {margin-left: 0;}
    35%{margin-left: -100%;}
    65%{margin-left: -100%;}
    70%{margin-left: -200%}
    95%{margin-left: -200%}

}
.article{
    font-family: 'Noticia Text', serif;
    font-size: 1.2rem;
    width: 60%;
    text-align: justify
}