@import url('https://fonts.googleapis.com/css?family=Belleza&display=swap');
HTML{
    font-size: 100%;
 
}
body{
    background-image: url("https://digopalabratxt.files.wordpress.com/2017/07/caracas.jpg?w=788");
    background-size: contain;

    background-attachment: fixed;
}
header{
    width: 80%;
    background: white;
    display: block;
   margin: auto;
}
.cabecera{
    background: black;
    height: 70px;
    width: 100%;
    padding: 0px;
    font-size: 0px;
    display: flex;
    justify-content: space-between;
   
   
}


.cabecera h2{


    text-align: left;
    font-size: 2.2rem;
    
   margin-left: 20px;
 
   margin-top: 15px;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.cabecera h2 a{
    text-decoration: none;
    color:white;
}

.cabecera nav{
    
    font-size: 0px;
    text-decoration: none;
    margin-top: 0px;
    height: 100%;
    box-sizing: border-box;
    
}


.menu li{
    display: inline-block;
    width: 25%;
    
    text-align: center;
    box-sizing: border-box;
    padding: 25px;
    font-family: 'Belleza', sans-serif;
    
    
   
   

}
.menu a{


    font-size: 1.7rem;
    text-decoration: none;
    color: white;
    transition: all 0,07s;
    text-align: center;
    height: 70px;
 
    box-sizing: border-box;

}
.menu li:hover{

    transform: scale(1.1);
}
.imagenes{

    margin: auto;
    margin-top: 20px;
   overflow: hidden;
   width: 95%;
}

.carrucel{
    display:flex;
    width: 300%;
    padding: 0;


    animation: cambio 20s infinite;
}
.carrucel li{
  width: 100%;
    list-style: none;

}
.carrucel img{
    display: block;
    margin: auto;
   

}


@keyframes cambio {
    0% {margin-left: 0;}
    30% {margin-left: 0;}
    35%{margin-left: -100%;}
    65%{margin-left: -100%;}
    70%{margin-left: -200%}
    95%{margin-left: -200%}

}

main{
    display: block;
 width: 80%;
 margin: auto;
 background: white;
}
.encabezado{
    display: flex;

}

 .izquierda {
    width: 60%;
    margin-right: 30px;
    font-family: 'Belleza', sans-serif;
    padding: 15px;
}
 .derecha {
    width: 30%;
    font-family: 'Belleza', sans-serif;
    font-size: 1.2rem;
}
h3{
    font-size: 1.5rem;
}

.article{
    text-align: justify;
    padding: 30px;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
}
.article img{
    display: block;
  margin: auto;
  margin-bottom: 15px;
}
.video{
    margin: 20px;
}
footer{
    background-color: rgba(51, 51, 51, 0.3);
    font-size: 1.2rem;
    color: white;
    text-align: center;
}
